/*-------------------------------------------------Start of navbar and header-----*/
header {
  position: relative;
  padding: 0 2rem;
  background-color: var(--main-color);
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .link {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: var(--font-color);
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: var(--main-color);
  color: (--font-color);
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}

/*-------------------------------------------------End of navbar and header-----*/
