/*-------------------------------------------------Responsive Menu for tablet-----*/
@media only screen and (max-width: 768px) {
  .open_hrs li {
    text-align: left;
    margin: 0 auto;
    font-size: 14px;
    padding-right: 30px;
  }

  .open_hrs h2 {
    font-size: 20px;
  }

  .map {
    width: 100%;
  }
  .staff {
    width: 80%;
  }
  .pie-pitch-img {
    width: 50%;
    margin: 0 32px 19px 12px;
  }
  .product-list-poltry {
    margin-right: 45px;
  }
}

/*-------------------------------------------------Responsive Menu for small laptop-----*/
@media only screen and (max-width: 1080px) {
  .open_hrs li {
    text-align: left;
    margin: 0 auto;
    font-size: 14px;
    padding-right: 30px;
  }

  .open_hrs h2 {
    font-size: 20px;
  }

  .map {
    width: 100%;
  }

  .img-rotate {
    height: 74%;
  }
  .staff {
    width: 75%;
  }
  .product-list-poltry {
    margin: 0 auto;
  }

  .pie-pitch-img {
    width: 50%;
    height: 25%;
    margin: 50px 30px 50px 26px;
  }
}

/*-------------------------------------------------Responsive Menu for large phone -----*/
@media only screen and (max-width: 600px) {
  .navbar .link,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown-menu {
    display: block;
  }

  .main-section {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    display: flex;
  }

  .pitch {
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  .pitch-img {
    width: 70%;
  }

  .pitch-img {
    width: 70%;
    margin: 0 auto;
  }

  #pitch-img {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    justify-items: center;
  }
  .product-list-poltry {
    margin-top: 45px;
  }
  .pie-pitch {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0 auto 20px 0;
  }
  .pie-pitch-img {
    width: 70%;
    margin: 20px auto;
  }
  .product-list-pie {
    margin: 0px auto;
  }

  .img-rotate {
    height: 57%;
  }

  .map {
    display: none;
  }

  .Contact-btn {
    width: 20%;
    margin: 20px auto;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
  }

  .address {
    display: none;
  }

  #bar {
    display: none;
  }

  hr {
    margin-bottom: 25px;
    color: #f09819;
  }

  .form-container {
    max-width: 400px;
    margin: 25px auto;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .form-container h1 {
    margin: 20px;
  }

  .contact-form {
    margin-top: 25px;
    background-color: var(--form-color);
    width: 80%;
    border-radius: 15px;
    box-shadow: 2px 2px #424348;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 15px;
  }

  .form-input {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .form-submit {
    padding: 15px 20px;
    background-color: var(--form-color);
    color: #fff;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
  }

  .form-submit:hover {
    color: #0e0b3d;
    background-color: #f09819;
  }

  .product-nav {
    display: flex;
    background-color: var(--main-color);
    width: 98.8%;
    border: 1px solid white;
    align-items: center;
    margin-left: 1px;
  }

  .product-nav ul {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: -40px;
    line-height: 17px;
    margin-top: 11px;
    margin-bottom: 11px;
    margin-right: 3px;
    gap: 8px;
  }

  .product-nav a {
    width: 100%;

    font-size: 11px;
  }
  .staff {
    width: 85%;
  }
  .egg-vh {
    height: 100vh;
  }
  .img-rotate-egg {
    width: 70%;
  }
  .grid {
    margin-bottom: 17vh;
  }
  .chicken-images {
    width: 90%;
  }
}
/*-------------------------------------------------End of Responsive Menu for large phone -----*/

/*-------------------------------------------------Start for Responsive Menu for small phone -----*/
@media only screen and (max-width: 376px) {
  .product-nav ul {
    margin-left: -40px;
    line-height: 17px;
    margin-top: 11px;
    margin-bottom: 11px;
    margin-right: 3px;
    gap: 6px;
  }
  .product-nav a {
    width: 100%;

    font-size: 10px;
  }
}
@media only screen and (max-width: 320px) {
  .product-nav ul {
    margin-left: -40px;
    line-height: 17px;
    margin-top: 11px;
    margin-bottom: 11px;
    margin-right: 3px;
    gap: 10px;
  }
  .product-nav a {
    width: 100%;

    font-size: 8px;
  }
}

/*-------------------------------------------------Responsive End-----*/
