@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,700&display=swap");
/* CSS Variables */

:root {
  --main-color: rgb(239, 160, 40);
  --Bg-color: rgb(157, 148, 148);
  --form-color: rgb(243, 134, 28);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--Bg-color);
}

/*-------------------------------------------------start of links for navbar-----*/
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

a:hover {
  color: rgb(110, 86, 15);
}

.current:active {
  text-decoration: underline;
  color: white;
}

.current {
  text-decoration: underline;
}

/*-------------------------------------------------End of links for navbar-----*/

/*-------------------------------------------------Start of navbar and header-----*/
header {
  position: relative;
  padding: 0 2rem;
  background-color: var(--main-color);
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .link {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: var(--main-color);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}

/*-------------------------------------------------End of navbar and header-----*/

/*------------------------------------------------Dropdown Menu------------------------------------------------*/
.dropdown-menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;

  background: rgb(124, 115, 115);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
}

#geotag {
  margin-left: 10px;
}

.dropdown-menu.open {
  height: 230px;
}

.dropdown-menu li {
  padding: 0.7rem;
  align-items: center;
  justify-content: right;
}

.dropdown-menu .action_btn{
  width: 100%;
  display: flex;
  justify-content: center;
}


/*-------------------------------------------------Main section Start-----*/
.main-section h2 {
  font-size: 1.3rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  margin: 10px auto;
  padding-left: 5px;
  padding-right: 5px;
}

.welcome-to-birmingham h3,
h1 {
  padding-left: 4px;
  padding-right: 4px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  margin: 5% auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


#page-container {
  position: relative;

}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
  background-color: var(--main-color);
  color: white;
  padding-top: 1px;
}
.lostpage-image {
  width: 100%;
  display: flex;
  justify-content: center;
}

/*-------------------------------------------------Main section End-----*/

/*-------------------------------------------------style text section Start-----*/

.products-we-have {
  font-size: 0.9rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

.products-we-have p {
  text-align: center;
}

.product-list {
  margin-top: 35px;
  margin-right: 10px;
}

.items-we-have {
  margin-top: 50px;
}

.items-we-have li {
  text-align: center;
}

#specialize {
  text-align: center;
  width: 70%;
  margin: 0 auto 50px auto;
}

.pitch {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto 20px 0;
}

.pie-pitch {
  display: flex;
  align-items: center;
  margin: 0 auto 20px 0;
}

.pitch-img {
  width: 50%;
  height: 25%;
  margin: 50px 30px 50px 50px;
}

.pitch p {
  text-align: center;
  padding-right: 10px;
}

.pitch li {
  text-align: left;
  padding: 5px;
}

.pie-pitch h3 {
  text-align: center;
  padding-right: 10px;
}

.pie-pitch p {
  text-align: center;
  padding-right: 10px;
}

.pie-pitch li {
  text-align: left;
  padding: 5px;
}

.hvr-float {
  display: block;
  cursor: none;
}

.open-hours {
  display: flex;
  flex-direction: column;
}

.open_hrs {
  text-align: center;
  margin: 0 auto;
}

.open_hrs li {
  text-align: left;
  padding-right: 30px;
}

.delivers h2 {
  text-align: center;
  margin-top: 50px;
}

.delivers p {
  text-align: center;
}

.map {
  width: 100%;
}

#address {
  text-align: center;
}

/*-------------------------------------------------style text section end-----*/

/*------------------------------------------------start of product page---*/

.product-nav {
  margin-right: 30px;
  display: flex;
  background-color: var(--main-color);
  width: 100%;
  border: 1px solid white;
}

.product-nav ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-right: 30px;
}

.product-nav a {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
  margin: 2px;
  font-weight: bold;
  font-style: italic;
}

.products-images {
  margin: 0 auto;
  width: 100%;
}

.chicken-images {
  width: 90%;
  margin: 0 auto;
}
.staff{
  border-radius: 20px;
  box-shadow:   3px #4c4c4c;
}
.grid {
  margin-top: 5px;
  text-align: center;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
.grid-egg {
  margin-top: 5px;
  text-align: center;
  display:grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}
.img-rotate-egg {
  height: 95%;
}
.img-rotate {
  height: 85%;
}

/*------------------------------------------------End of product page---*/

/*------------------------------------------------start of about us page---*/
.whoarewe {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  letter-spacing: 1px;
  text-align: center;
}

.productimages {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}

.products-images {
  width: 60%;
}

.div-for-who-are-we {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.teamphoto {
  display: flex;
  justify-content: center;
}

.teamphoto img {
  width: 80%;
}

#our-team,
h2,
p {
  text-align: center;
}

/*------------------------------------------------End of about us page---*/

/*------------------------------------------------start of contact form page---*/

.form-container {
  max-width: 400px;
  margin: 25px auto;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-container h1 {
  margin: 20px;
}

.contact-form {
  margin-top: 25px;
  background-color: var(--form-color);
  width: 100%;
  border-radius: 10%;
  box-shadow: 2px 2px #424348;
  padding-bottom: 10px;
  padding-top: 10px;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 15px;
}

.form-input {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.form-submit {
  padding: 15px 20px;
  background-color: var(--form-color);
  color: #fff;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
}

.form-submit:hover {
  color: #0e0b3d;
  background-color: #f09819;
}

/*-------------------------------------------------Btn section Start-----*/
.Contact-btn {
  width: 10%;
  margin: 20px auto;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;

  color: white;
  border-radius: 10px;
  display: block;
  border: 0;
  font-weight: 700;
  box-shadow: 0 0 14px -7px #f09819;
  background-image: linear-gradient(
    45deg,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
}

.Contact-btn:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.Contact-btn:active {
  transform: scale(0.95);
}

/*-------------------------------------------------Btn section End-----*/

/*-------------------------------------------------Responsive Menu for tablet-----*/
@media only screen and (max-width: 768px) {
  .open_hrs li {
    text-align: left;
    margin: 0 auto;
    font-size: 14px;
    padding-right: 30px;
  }

  .open_hrs h2 {
    font-size: 20px;
  }

  .map {
    width: 100%;
  }
}

/*-------------------------------------------------Responsive Menu for small laptop-----*/
@media only screen and (max-width: 1024px) {
  .open_hrs li {
    text-align: left;
    margin: 0 auto;
    font-size: 14px;
    padding-right: 30px;
  }

  .open_hrs h2 {
    font-size: 20px;
  }

  .map {
    width: 100%;
  }

  .img-rotate {
    height: 74%;
  }
}

/*-------------------------------------------------Responsive Menu for phone 600px-----*/
@media only screen and (max-width: 600px) {
  .navbar .link,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown-menu {
    display: block;
  }


  .main-section {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    display: flex;
  }

  .pitch {
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  .pitch-img {
    width: 70%;
  }

  .pitch-img {
    width: 70%;
    margin: 0 auto;
  }

  #pitch-img {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    justify-items: center;
  }

  .pie-pitch {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0 auto 20px 0;
  }

  .img-rotate {
    height: 57%;
  }

  .map {
    display: none;
  }

  .Contact-btn {
    width: 20%;
    margin: 20px auto;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
  }

  .address {
    display: none;
  }

  #bar {
    display: none;
  }

  hr {
    margin-bottom: 25px;
    color: #f09819;
  }

  .form-container {
    max-width: 400px;
    margin: 25px auto;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .form-container h1 {
    margin: 20px;
  }

  .contact-form {
    margin-top: 25px;
    background-color: var(--form-color);
    width: 80%;
    border-radius: 15px;
    box-shadow: 2px 2px #424348;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 15px;
  }

  .form-input {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .form-submit {
    padding: 15px 20px;
    background-color: var(--form-color);
    color: #fff;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
  }
  .form-submit:hover {
    color: #0e0b3d;
    background-color: #f09819;
  }

  .product-nav {
    display: flex;
    background-color: var(--main-color);
    width: 98.8%;
    border: 1px solid white;
    align-items: center;
    margin-left: 1px;
  }

  .product-nav ul {
    isplay: flex;
    justify-content: center;
    width: 100%;
    margin-left: -41px;
    line-height: 17px;
    margin-top: 11px;
    margin-bottom: 10px;
    margin-right: 4px;
  }

  .product-nav a {
    width: 100%;

    font-size: 13px;
  }
}

/*-------------------------------------------------Responsive End-----*/
