@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,700&display=swap");

@import url("./assets/css/navbar.css");
@import url("./assets/css/animations.css");
@import url("./assets/css/dropdown_menu.css");
@import url("./assets/css/style_text.css");
@import url("./assets/css/main_section.css");
@import url("./assets/css/product.css");
@import url("./assets/css/about_us.css");
@import url("./assets/css/form.css");
@import url("./assets/css/button.css");
@import url("./assets/css/Responsive_layouts.css");
:root {
  --main-color: rgb(227, 117, 95);
  --Bg-color: rgb(229, 226, 226);
  --form-color: rgb(86, 164, 171);
  --font-color: rgb(0, 0, 0);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(131deg, rgb(255 241 238) 22%, rgb(196 173 168) 95%);
}

/*-------------------------------------------------start of links for navbar-----*/
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--font-color);
  font-size: 1rem;
}

a:hover {
  color: rgb(110, 86, 15);
}

.current:active {
  text-decoration: underline;
  color: white;
}

.current {
  text-decoration: underline;
}

/*-------------------------------------------------End of links for navbar-------------*/
